snow2008_mturk_data_with_orig_files_assembled_201904/rte/orig/rte.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT entailment-corpus (pair+)>

<!ELEMENT pair (t,h)>
<!ATTLIST pair
          id CDATA #REQUIRED
          task (CD|MT|PP|RC|IR|IE|QA) #REQUIRED
          value (TRUE|FALSE) #REQUIRED >
	  

<!ELEMENT t (#PCDATA)>

<!ELEMENT h (#PCDATA)>
